
@using PaiVapp.Models
@model PaiVapp.Models.Views.DistView
@{ var Heading = String.Format("{0} Distrito", @Model.DistritoID == 0 ? "Add" : "Edit"); }

<form asp-action="AddEditDist" role="form">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">@Heading</h4>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="DepartamentoID" class="control-label"></label>
            <div class="col-lg-6">
                <select asp-for="DepartamentoID" class="form-control" asp-items="ViewBag.DepartamentoID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CodDistrito" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="CodDistrito" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NDistrito" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="NDistrito" class="form-control" />
            </div>
        </div>

        @if (@Model.DistritoID != 0)
        {
        <div class="form-group">
            <label asp-for="Estado" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Estado" class="form-control" />
            </div>
        </div>}
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" id="btn-cancel" class="btn btn-default" type="button">Cancelar</button>
        <button class="btn btn-success" id="btn-submit" type="submit"> Guardar            </button>

    </div>

</form>