@model PaiVapp.Models.Dosis
@{
    ViewData["Title"] = "Crear";
}
<h2>Crear Dosis</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NDosis" class="control-label"></label>
                <input asp-for="NDosis" class="form-control" />
                <span asp-validation-for="NDosis" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index"
       class="btn btn-default ">
        <span aria-hidden="true">&larr;</span>
        Volver
    </a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
