@model PaiVapp.Models.Dosis
@{
    ViewData["Title"] = "Eliminar";
}
<h2>Eliminar Pais</h2>
<h3>¿Esta seguro de querer eliminar esta Dosis?</h3>
<div>
    <h4>Dosis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NDosis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NDosis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DosisID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index"
           class="btn btn-default ">
            <span aria-hidden="true">&larr;</span>
            Volver
        </a>
    </form>
</div>
