@model PaiVapp.Models.DosisBiologico

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DosisBiologico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DosisBiologicoID" />
            <div class="form-group">
                <label asp-for="EdadID" class="control-label"></label>
                <select asp-for="EdadID" class="form-control" asp-items="ViewBag.EdadID"></select>
                <span asp-validation-for="EdadID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiologicoID" class="control-label"></label>
                <select asp-for="BiologicoID" class="form-control" asp-items="ViewBag.BiologicoID"></select>
                <span asp-validation-for="BiologicoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosisID" class="control-label"></label>
                <select asp-for="DosisID" class="form-control" asp-items="ViewBag.DosisID"></select>
                <span asp-validation-for="DosisID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
