@model PaiVapp.Models.Departamento

@{
    ViewData["Title"] = "Nuevo";
}

<h2>Crear Departamento</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaisID" class="control-label"></label>
                <select asp-for="PaisID" class="form-control" asp-items="ViewBag.PaisID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodDepartamento" class="control-label"></label>
                <input asp-for="CodDepartamento" class="form-control" />
                <span asp-validation-for="CodDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NDepartamento" class="control-label"></label>
                <input asp-for="NDepartamento" class="form-control" />
                <span asp-validation-for="NDepartamento" class="text-danger"></span>
            </div>
           
            
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
   
    <a asp-action="Index"
       class="btn btn-default previous ">
        <span aria-hidden="true">&larr;</span>
        Volver
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
