@model PaiVapp.Models.Pais

@{
    ViewData["Title"] = "Edit";
}

<div class="page-header">
    <h2>Editar Pais</h2>
</div>


<div class="row  contornos">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaisID" />
            <div class="form-group">
                <label asp-for="NPais" class="control-label"></label>
                <input asp-for="NPais" class="form-control" />
                <span asp-validation-for="NPais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" /> 
               
            </div>
           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default"><span aria-hidden="true">&larr;</span>Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 
}
