@model PaiVapp.Models.Registro

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Registro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RegistroID" />
            <div class="form-group">
                <label asp-for="FechaV" class="control-label"></label>
                <input asp-for="FechaV" class="form-control" />
                <span asp-validation-for="FechaV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaptacionID" class="control-label"></label>
                <select asp-for="CaptacionID" class="form-control" asp-items="ViewBag.CaptacionID"></select>
                <span asp-validation-for="CaptacionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosisBiologicoID" class="control-label"></label>
                <select asp-for="DosisBiologicoID" class="form-control" asp-items="ViewBag.DosisBiologicoID"></select>
                <span asp-validation-for="DosisBiologicoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lote" class="control-label"></label>
                <input asp-for="Lote" class="form-control" />
                <span asp-validation-for="Lote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Encargado" class="control-label"></label>
                <input asp-for="Encargado" class="form-control" />
                <span asp-validation-for="Encargado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
